<!DOCTYPE html>
<html>
<head>
    <title>uploadimg.html</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>

    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

</head>

<body>
<form enctype="multipart/form-data" method="post" action="/user/upload" ><!--action对应表单送往地方，这里是upload网址-->
    图片<input type="file" name="file" id="file"/><!--id="file"，
    即对应postman中的关键字，对应@RequestParam("file")，id是身份号，唯一，名字可不唯一-->
    <input type="submit" value="上传"/>
</form>
</body>
</html>
